[submodule "docs"]
	path = docs
	url = https://github.com/geomoose/geomoose-docs.git
[submodule "services"]
	path = services
	url = https://github.com/geomoose/geomoose-services.git
[submodule "js"]
	path = js
	url = https://github.com/geomoose/geomoose-js.git
