<!-- MapServer Template -->
<tr bgcolor="#DEE5EB"><td colspan="2"><b><u>Parcels</u></b></tr>
<tr>
<td align="right"><b>PIN:</b></td>
<td>[PIN] <a href="javascript:GeoMOOSE.startService('feature_report', {'PIN' : '[PIN]', 'src' : 'parcels/parcels'})">Report</a></td>
</tr>
<tr>
<td align="right"><b>Owner Name:</b></td>
<td>[OWNER_NAME]</td>
</tr>
<tr>
<td align="right"><b>Est. Market Value:</b></td>
<td>[EMV_TOTAL]</td>
</tr>
<tr>
<td align="right"><b>Acres:</b></td>
<td>[ACRES_POLY]</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
