<!-- MapServer Template -->
<table border="0" cellpadding="1" cellspacing="2" width="100%">
	<tr>
		<td>
			<b>Results:</b> <span id="numShapes">[foundShapes]</span>
		</td>
		<td class="right">
			<img src='images/toolbar/zoomin.png' style="cursor:pointer;" class='noborder' title='Zoom to all results' alt='Zoom to all results' onclick='GeoMOOSE.zoomToHighlight();' />
			<img src='images/toolbar/printer.png' style="cursor:pointer;" title="Print" alt="Print" onclick='GeoMOOSE.printInfoDiv("parcel_holder");'/>
		</td>
	</tr>
</table>
<div id="parcel_holder">