<!-- MapServer Template -->
<b>Number of Results:</b> [RESULTS_COUNT]<br>
<b>Query ID:</b> [CACHE_ID]<br>
<br>
<a target="_blank" href="php/mailing_labels.php?queryid=[CACHE_ID]&output=pdf">PDF Mailing Labels</a><br/>
<a target="_blank" href="php/mailing_labels.php?queryid=[CACHE_ID]&output=html">HTML Mailing Labels</a><br/>
<a target="_blank" href="php/mailing_labels.php?queryid=[CACHE_ID]&output=csv">CSV Mailing Labels</a><br/>
<br/>
<div style="display: [SHOW_FOLLOWUP]"/>
<a href="javascript:GeoMOOSE.startService('buffered_select_followup', {shape0: '[SHAPE0_WKT]', shape0_layer: '[LAYER0]', layer0: '[LAYER0]', shape0_buffer: [SHAPE0_BUFFER]})">Buffer these results</a>
<br/><br/>
</div>
